.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
}

/* Pour tablettes */
@media (max-width: 768px) {
  .App {
    font-size: 1.5rem;
  }
}

/* Pour mobiles */
@media (max-width: 480px) {
  .App {
    font-size: 1rem;
  }
}
